/* app.css */

/* Header Styles */
.App{
  height: 100%;
}
.App-header {
  background: linear-gradient(135deg, #3c4a63, #7289ab);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Body Styles */
.App-body {
  background: linear-gradient(135deg, #7289ab, #a3afc6);
  height:100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid #4e586e; 
  position: relative;
  padding-bottom: 1vh;
  min-height: 69vh;
}

.row {
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 14vh;
}

.column {
  flex: 1;
  margin: auto;
}
.Menu {
  display: flex;
  justify-content: center;
}

.menu-buttons {
  display: flex;
}

/* Basic button styles */
.menu-buttons button {
  font-family: 'Dancing Script', cursive;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Button styles for the active menu item */
.menu-buttons button.active {
  color: #fff;
  background-color: #7289ab;
  border-radius: 4px;
}

/* Add any other custom styles you want for the buttons */

/* Responsive styles for phones */
@media (max-width: 768px) {
  .row {
    flex-direction: row; /* Stack the rows vertically on mobile */
  }

  .row > * {
    margin-bottom: 10px; /* Add some margin between the stacked rows */
    max-width: 80%; /* Set a maximum width for each row on mobile */
    margin-left: auto;
    margin-right: auto;
  }
  .menu-buttons {
    flex-wrap: wrap; /* Allow the buttons to wrap to the next line */
  }

  .menu-buttons button {
    padding: 5px 5px; /* Adjust padding for smaller screens */
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
