/* MyCalendar.css */

/* Container styles */
div.my-calendar-container {
    max-width: 800px;
    margin:auto;
    margin-top: 10vh;
    padding: 20px;
    margin-bottom: 16.5vh;
    border: 1px solid #0c0c0c;
    border-radius: 3vh;
    background-color: #e3ebf5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .legend {
    position: relative;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: small;
  }
  
  .legend-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  /* Calendar styles */
  .rbc-calendar {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
  }
  
  .rbc-header {
    background-color: #ccd182;
    border: 1px solid #ddd;
  }
  
  .rbc-today {
    background-color: #6586c4;
  }
  
  .rbc-toolbar-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .rbc-event {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    margin-top: 2px;
  }
  
  .rbc-agenda-time-cell {
    font-size: 12px;
    color: #666;
  }
  
  .rbc-agenda-date-cell {
    font-weight: bold;
    color: #333;
  }
  
  .rbc-agenda-event-cell {
    border-bottom: 1px solid #ddd;
  }
  
  .rbc-agenda-event-content {
    margin-left: 8px;
  }
  @media (max-width: 768px) {
    div.my-calendar-container {
      max-width: 80%; 
    }}