/* app.css */

/* Header Styles */
.App-header {
  background-color: #4e586e; /* Lighter header background color */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Body Styles */
.App-body {
  background-color: #e3e7f0; /* Lighter body background color */
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: Add a border to the body to separate it from the header */
.App-body {
  border-top: 2px solid #4e586e; /* Use the same color as the header */
}

/* Menu Styles */
.Menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #4e586e; /* Lighter menu background color */
  padding: 0;
  margin: 0;
}

.Menu li {
  padding: 10px;
}

.Menu li a {
  color: #fff1e6; /* Light off-white text color */
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; /* Uppercase menu text */
  transition: color 0.2s ease; /* Smooth color transition on hover */
}

.Menu li a:hover {
  color: #e3e7f0; /* Lighter link color on hover */
  text-decoration: underline;
}

/* Responsive styles for phones */
@media (max-width: 600px) {
  .Menu {
    flex-direction: column; /* Stack the menu items vertically */
    align-items: center; /* Center align the items */
    background-color: #282c34; /* Use the same header color for the menu background */
  }

  .Menu li {
    padding: 8px 0; /* Reduce the vertical padding */
  }
}
